
/* 新增的切換動畫樣式 */
.card-3d-wrap {
    position: relative;
    width: 100%;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 20px;

}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    padding: 20px;
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffeba7;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ffeba7;
    background-color: #102770;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg);
}
h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}

/* 新增的切換動畫樣式 */

.img.js-fullheight {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ftco-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* .login-wrap {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
} */

.heading-section {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #333;
}

.btn-google {
    background: #db4437;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-google:hover {
    background: #c33d2d;
}

.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    position: relative;
    cursor: pointer;
}

.mask{
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
}

